* {background-color: black}
.rounded-corners-all-around {
    border-radius: 100px;
    background: gray;
    color: white;
}

.wd-side-nav i {
    font-size: 12px;
}

.wd-side-nav li {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
}

span.wd-stack {
    width: 16px;
}

.wd-stack i {
    width: 16px;
    height: 16px;
}

.wd-side .btn {
    border-radius: 25px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
}

/*Search and Nav Bar*/
.fa-magnifying-glass {
    font-size: 12px;
}

body {
    text-align: center;
}

.wd-search-bar {
    border: 1px solid lightgray;
    border-radius: 25px;
    width: 357px;
    margin: 4px auto;
    position: absolute;
    left: 0;
    text-align: center;
}

.wd-search-bar input {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: gray;
    background-color: transparent;
}

.wd-top-bar a i {
    font-size: 22px;
}

ul.nav-tabs {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-align: center;
}

.wd-card-heading, .wd-tuit-count {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: white;
    font-weight: normal;
}

.wd-trend-title {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.wd-trend-title span {
    font-weight: normal;
    color: gray;
}

.wd-trend-blurb {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.wd-card-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
}

.wd-follow-header, .wd-username {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.wd-follow-user-card img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.wd-follow-card button {
    border-radius: 20px;
}

.wd-follow-header h6 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
}

.wd-handler {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
}

.wd-username {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.card-img-overlay h4 {
    font-size:32px;
}

.box{
    width: 100%;
    text-align:center;
}

.btn-primary.rounded-corners-all-around{
    background-color: blue;
    width: 100%;
}

.form__input.wd-search-bar-width.wd-rounded-corners-search{
    width: 100%;

}

.fas.fa-home.fa-fw{
    color: white;
}

.row{
    background-color: black;
    color: white;
}

.list-group-item.list-group-item-action{
    background-color: black;
    color: white;
    border-color: black;
}

